/*
Project     : Skeletonboard
Filename    : _default.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

// https://flatuicolors.com/palette/cn

$color-body-bg    : #f0f1f5;
$color-header-bg  : #2f3542;
$color-primary    : #ff4757;
$color-white-text : #ffffff;

$color-dark      : #373e4d;


body{
   background-color : $color-body-bg;
}

.header-main{
    background-color : $color-header-bg;
    color            : $color-white-text;
    box-shadow       : 0 4px 4px -2px #999;
    
    &__logo{
        background-color : $color-primary;
        color            : $color-white-text;
        
        &:after{  

            border-color : $color-primary transparent transparent transparent;

        }
    }
    
    nav{
     
        a{
            color : $color-white-text;
        }
        
    }

    &__nav{


        background-color : $color-dark;
        
        
        &:after{  
            
            border-color : transparent $color-dark transparent transparent;

        }
        
        
        
    }
    
}





.footer-main{
    background-color : #fff;
    color            : #555;
    border-top       : 1px solid #ccc;
}

