/*
Project     : Skeletonboard
Filename    : _default.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

// https://colors.muz.li/palette/454d66/309975/58b368/dad873/efeeb4


$theme-base-text         : #555555;
$theme-body-bg           : #f0f1f5;

$theme-primary           : #454d66;
$theme-secondary         : #309975;
$theme-secondary-variant : #dad873;

$theme-header-bottom-bg  : #ffffff;
$theme-white             : #ffffff;
$theme-dark              : #373e4d;
$theme-border-color      : #e6e9f0;




$theme-notification-info   : rgb(69, 137, 255);
$theme-notification-alert  : rgb(253, 209, 58);
$theme-notification-danger : rgb(218, 30, 40);
$theme-notification-succes : rgb(36, 161, 72);






.footer-main{

    color            : #555;
    border-top       : 1px solid #ccc;

}

.card{
    border: 1px solid #dbdee6;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(52,59,68,.07);
}