/*
Project     : Skeletonboard
Filename    : _default.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

// https://colors.muz.li/palette/454d66/309975/58b368/dad873/efeeb4


$color-body-text        : #555555;
$color-body-bg          : #f0f1f5;
$color-primary          : #454d66;
$color-secondary        : #309975;

$color-header-bottom-bg : #ffffff;
$color-white-text       : #ffffff;
$color-dark             : #373e4d;


.header-main{

    &__top{

    }

    &__bottom{
        background-color    : $color-header-bottom-bg;
        border-bottom-color : #ddd;
        //box-shadow       : 0 4px 4px -2px #999;
    }
    
    &__logo{
        //background-color : $color-primary;
        color            : $color-white-text;
        
        &:after{  

            //border-color : $color-primary transparent transparent transparent;

        }

    }
    
    nav{
     
        a{
            color : $color-white-text;
        }
        
    }

    &__nav{

       // background-color : $color-dark;

        &:after{  
            
            //border-color : transparent $color-dark transparent transparent;

        }

        
    }
    
}

.footer-main{

    background-color : #fff;
    color            : #555;
    border-top       : 1px solid #ccc;

}

.card{
    border: 1px solid #e6e9f0;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(52,59,68,.07);
}