/*

-------------------------------------

Project     : X3
Filename    : themeing/_colors.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----

-------------------------------------

*/

// Colorset @ https://flatuicolors.com/palette/se




$x3-color--green    : #05c46b;
$x3-color--red      : #ff3f34;
$x3-color--primary  : $color-primary;
$x3_color-secondary : $color-secondary;
$x3-color--blue     : #0fbcf9;
$x3-color--yellow   : #ffd32a;

.colorset--,
.x3_colorset--{

    &yellow{
        border           : 1px solid $x3-color--yellow!important;
        background-color : $x3-color--yellow!important;
        color            : #333!important;
    }

    &orange{
        border           : 1px solid #d35400!important;
        background-color : #e67e22!important;
        color            : #fff!important;
    }

    &red{
        border           : 1px solid $x3-color--red!important;
        background-color : $x3-color--red!important;
        color            : #fff!important;
    }

    &blue{
        border           : 1px solid $x3-color--blue!important;
        background-color : $x3-color--blue!important;
        color            : #fff!important;
    }

    &green{
        border           : 1px solid $x3-color--green!important;
        background-color : $x3-color--green!important;
        color            : #fff!important;
    }

    &white{
        border           : 1px solid #ddd!important;
        background-color : #fff!important;
        color            : #333!important;
    }

    &grey{
        border           : 1px solid #bdc3c7!important;
        background-color : #ecf0f1!important;
        color            : #333!important;
    }

    &darkgrey{
        border           : 1px solid #999!important;
        background-color : #999!important;
        color            : #fff!important;
    }

    &primary{
        border           : 1px solid $x3-color--primary!important;
        background-color : $x3-color--primary!important;
        color            : #fff!important;
    }

    &secondary{
        border           : 1px solid $x3_color-secondary!important;
        background-color : $x3_color-secondary!important;
        color            : #fff!important;
    }

    &cta{
        border           : 1px solid #FD5B03!important;
        background-color : #FD5B03!important;
        color            : #fff!important;
    }

    &outline{
        border           : 1px solid #ccc!important;
        background-color : #fff!important;
        color            : #333!important;
    }

}

.x3_bgcolor--white{
    background-color : #fff!important;
}

.x3_textcolor--,
.x3_text__color--{

    &red {
        color: $x3-color--red !important;
    }

    &primary {
        color: $x3-color--primary !important;
    }

}