/*
Project     : Skeletonboard
Filename    : _body.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

body{
    
  background-color : $theme-body-bg;
  color            : $theme-base-text;
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 14px;
    
}