/*
Project     : Skeletonboard
Filename    : _content.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

.content-main{
  width      : 100%;
  float      : left;
  min-height : calc(100vh - 182px);

  &__inner{
     padding : 30px 15px;
  }

}

.heading{
    margin: 30px 0;
}

.card{
    border: 1px solid #e6e9f0;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(52,59,68,.07)
}