/*
Project     : Skeletonboard
Filename    : _content.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

.content-main{
  width      : 100%;
  float      : left;
  min-height : calc(100vh - 182px);

  &__inner{
     padding : 30px 15px;
  }

}

.heading{
    margin: 30px 0;
}

.card{
    border-style  : solid;
    border-width  : 1px;
    padding       : 30px;
    border-radius : 5px;
    margin-bottom : 30px;
}