/*
Project     : Skeletonboard
Filename    : _footer.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----
*/

.footer-main{
    width  : 100%;
    height : 60px;
    float  : left;
    
    display: none;
    
    background-color : $theme-white;

    &__inner{
        padding : 20px;
    }

}